.form-container {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #4a5568;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #4a5568;
  font-size: 1.1em;
}

input,
select {
  width: 96%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
input:hover{
    border: 1px solid #4a5568;
}

#disponibilidad{
    width: 100%;
}
.btn-submit {
  width: 100%;
  padding: 10px;
  background: #4a5568;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-submit:hover {
  background: #2d3748;
}
