<div class="flex">
    <div id="sidebar" class="sidebar">
      <div class="form-logo">
            <img src="assets/img/logo.png" alt="Logo" />
        </div>
      <a class="brand">InventFact</a>
      <div class="menu">
        <a routerLink="factura" class="menu-item"><span class="icon">📑</span>Facturas</a>
        <a routerLink="inventario" class="menu-item"><span class="icon">📦</span>Productos</a>
        <a routerLink="proveedor" class="menu-item"><span class="icon">🏢</span>Proveedor</a>
        <a routerLink="categoria" class="menu-item"><span class="icon">📂</span>Categoria</a>
        <a routerLink="facturador" class="menu-item"><span class="icon">💳</span>Facturador</a>
        <a class="menu-item"><span class="icon">📬</span>Contacto</a>
        <a class="menu-item"><span class="icon">👤</span> Perfil</a>
        <a class="menu-item"><span class="icon">🔓</span> Cerrar sesión </a>
      </div>
    </div>
  </div>